<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <body>
        <h1>Welcome to the Home Page</h1>
        <p>This is the main content of the home page.</p>
        <a href="/about">Go to About Page</a>
        <link rel="stylesheet" href="/css/main.css" />
        <div class="w-[150px] h-[80px] shadow-2xl bg-white rounded-lg flex justify-center items-center">
  <p class="text-center">shadow-2xl</p>
</div>
        </body>
    </head>