# Compiled source
*.exe
*.dll
*.so
*.dylib
*.class
*.o
*.obj
*.out

# IDE/project files
*.bak
*.tmp
*.log
*.suo
*.user
*.ncb
*.sdf
*.cache
*.pdb
*.idb

# VS Code
.vscode/
*.code-workspace

# Mac/Linux/Windows noise
.DS_Store
Thumbs.db

# Build folders
bin/
build/
debug/
release/
dist/
